/* MacBook Pro */entire frame

position: relative;
width: 1440px;
height: 900px;

background: #F2F2F2;

/* Rectangle */picture frame

position: absolute;
width: 915px;
height: 900px;
left: 0px;
top: 0px;

background: url(copenhagen.jpg), #C4C4C4;

/* Welcome! */ text

position: absolute;
width: 211px;
height: 59px;
left: 1055px;
top: 92px;

font-family: Montaga;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 59px;

color: #3EB3D9;

/* You are steps away from the Copenhagen experience. */ text

position: absolute;
width: 512px;
height: 27px;
left: 925px;
top: 171px;

font-family: Montaga;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 27px;

color: #3EB3D9;

/* Rectangle 2 */ first name frame

position: absolute;
width: 348px;
height: 46px;
left: 1005px;
top: 290px;

background: #F2F2F2;
border: 1px solid #3EB3D9;
box-sizing: border-box;
border-radius: 20px;

/* First Name */ text

position: absolute;
width: 109px;
height: 27px;
left: 1013px;
top: 299px;

font-family: Montaga;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 27px;

color: #3EB3D9;

/* Rectangle 2.1 */ last name frame

position: absolute;
width: 348px;
height: 46px;
left: 1004px;
top: 349px;

background: #F2F2F2;
border: 1px solid #3EB3D9;
box-sizing: border-box;
border-radius: 20px;

/* Last Name */ text

position: absolute;
width: 106px;
height: 27px;
left: 1012px;
top: 358px;

font-family: Montaga;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 27px;

color: #3EB3D9;

/* Rectangle 2.2 */ email frame

position: absolute;
width: 348px;
height: 46px;
left: 1004px;
top: 408px;

background: #F2F2F2;
border: 1px solid #3EB3D9;
box-sizing: border-box;
border-radius: 20px;

/* Email */ text

position: absolute;
width: 57px;
height: 27px;
left: 1012px;
top: 418px;

font-family: Montaga;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 27px;

color: #3EB3D9;

/* Rectangle 2.3 */ password frame

position: absolute;
width: 348px;
height: 46px;
left: 1004px;
top: 467px;

background: #F2F2F2;
border: 1px solid #3EB3D9;
box-sizing: border-box;
border-radius: 20px;

/* Password */ text

position: absolute;
width: 90px;
height: 27px;
left: 1012px;
top: 477px;

font-family: Montaga;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 27px;

color: #3EB3D9;

/* Rectangle 2.4 */ confirm password frame

position: absolute;
width: 348px;
height: 46px;
left: 1004px;
top: 526px;

background: #F2F2F2;
border: 1px solid #3EB3D9;
box-sizing: border-box;
border-radius: 20px;

/* Confirm Password */ text

position: absolute;
width: 178px;
height: 27px;
left: 1012px;
top: 536px;

font-family: Montaga;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 27px;

color: #3EB3D9;

/* Rectangle 2.5 */ create account frame

position: absolute;
width: 348px;
height: 46px;
left: 1004px;
top: 614px;

background: #3EB3D9;
border-radius: 20px;

/* Create Account */text

position: absolute;
width: 151px;
height: 27px;
left: 1101px;
top: 623px;

font-family: Montaga;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 27px;

color: #F2F2F2;

/* Already have an account? */text

position: absolute;
width: 248px;
height: 27px;
left: 1004px;
top: 694px;

font-family: Montaga;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 27px;

color: #000000;

/* LOG IN */ text

position: absolute;
width: 78px;
height: 27px;
left: 1255px;
top: 694px;

font-family: Montaga;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 27px;

color: #3EB3D9;

border: 1px solid #3EB3D9;