 body {
            position: absolute;
            width: 1350px;
            height: 630px;
            background: #FFFFFF;

            margin: 0%;
            padding: 0%;
            background: url(Copenhagen.jpeg);
            background-size: cover;
            background-position: center;
            font-family: sans-serif;
        }

        .loginbox {
            position: absolute;
            width: 550px;
            height: 391px;
            left: 400px;
            top: 220px;
            background: rgba(242, 242, 242, 0.5);
            border-radius: 15px;
        }

        #LoginText {
            position: absolute;
            width: 132px;
            height: 56px;
            left: 220px;
            top: -25px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 48px;
            line-height: 56px;
            color: #333333;
        }

        #underline {

            position: absolute;
            width: 352px;
            height: 0px;
            left: 105px;
            top: 80px;
            border: 1px solid #000000;
        }

        #uname {
            position: absolute;
            width: 426px;
            height: 52px;
            left: 70px;
            top: 100px;
            background:rgba(62, 179, 214, 0.74);
            border-radius: 20px;
        }

        .loginbox input[type="text"],
        input[type="password"] {

            position: absolute;
            width: 60px;
            height: 28px;
            left: 519px;
            top: 487px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            color: #F2F2F2;
        }

        #pass {
            position: absolute;
            width: 426px;
            height: 52px;
            left: 70px;
            top: 170px;
            background: rgba(62, 179, 214, 0.74);
            border-radius: 20px;
        }

        #submit {
            position: absolute;
            width: 426px;
            height: 52px;
            left: 70px;
            top: 240px;
            background: #333333;
            border-radius: 20px;
        }

        .loginbox input[value="Log In"] {
            position: absolute;
            width: 75px;
            height: 28px;
            left: 150px;
            top: 270px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
        }

        #create {
            position: absolute;
            width: 550px;
            height: 52px;
            left: 0px;
            top: 340px;
            background: rgba(62, 179, 214, 0.74);
            border-radius: 0px 0px 18px 18px;
        }
        @media screen and (max-width: 420px)
        { .loginbox input[type="text"],
        input[type="password"] {

            position: absolute;
            width: 12px;
            height: 5.6px;
            left: 103.8px;
            top: 97.4px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 4.8px;
            line-height: 5.6px;
            color: #F2F2F2;
        }
         #pass {
            position: absolute;
            width: 85.2px;
            height: 10.4px;
            left: 14px;
            top: 34px;
            background: rgba(62, 179, 214, 0.74);
            border-radius: 4px;
        }
         #submit {
            position: absolute;
            width: 85.2px;
            height: 10.4px;
            left: 14px;
            top: 48px;
            background: #333333;
            border-radius: 4px;
        }

        .loginbox input[value="Log In"] {
            position: absolute;
            width: 75px;
            height: 28px;
            left: 150px;
            top: 270px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
        }

        #create {
            position: absolute;
            width: 110px;
            height: 10.4px;
            left: 0px;
            top: 68px;
            background: rgba(62, 179, 214, 0.74);
            border-radius: 0px 0px 3.6px 3.6px;
        }
        .submitext {
            position: absolute;
            width: 39px;
            height: 5.6px;
            left: 39px;
            top: 2px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 4.8px;
            line-height: 5.6px;
            color: #333333;
        }
        body {
            position: absolute;
            width: 270px;
            height: 126px;
            background: #FFFFFF;

            margin: 0%;
            padding: 0%;
            background: url(Copenhagen.jpeg);
            background-size: cover;
            background-position: center;
            font-family: sans-serif;
        }

        .loginbox {
            position: absolute;
            width: 110px;
            height: 78.2px;
            left: 80px;
            top: 44px;
            background: rgba(242, 242, 242, 0.5);
            border-radius: 3px;
        }

        #LoginText {
            position: absolute;
            width: 26.4px;
            height: 11.2px;
            left: 44px;
            top: -5px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 9.6px;
            line-height: 11.2px;
            color: #333333;
        }

        #underline {

            position: absolute;
            width: 70.4px;
            height: 0px;
            left: 21px;
            top: 16px;
            border: 1px solid #000000;
        }

        #uname {
            position: absolute;
            width: 85.2px;
            height: 10.4px;
            left: 14px;
            top: 20px;
            background:rgba(62, 179, 214, 0.74);
            border-radius: 4px;
        }

        }

        .submitext {
            position: absolute;
            width: 195px;
            height: 28px;
            left: 195px;
            top: 10px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            color: #333333;
        }
